Flask==3.1.0
opencv-python==4.11.0.86
numpy==1.26.4
mediapipe==0.10.21
tensorflow==2.19.0
cvzone==1.6.1
scikit-learn==1.6.1
pillow==10.2.0
pynput==1.8.1
gunicorn==23.0.0
PyAutoGUI==0.9.54
keyboard==0.13.5
